body{

	text-align: center;
	font-family: Open Sans,Arial;
	color: #454545;
	font-size: 16px;
	line-height: 1.4;
	text-align: justify;
}

span.italic{
	font-style: italic;
}

h1, h2, h3 {
    line-height: 1.2;
	color: #454545
	font-family: Comic Sans MS;
}


p{
	color: #454545;
}

}

a:link{
	color:#aa0077;
}

a:visited {
	color: #aa3300;
}

a:hoover, a:focus {
	color: #0077aa;